header {
	margin: auto;
	display: flex;
}

.menu {
	display: flex;
	flex-wrap: nowrap;
}

header p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 0.01em;
	color: #000;
}

ul {
	display: flex;
	flex-wrap: nowrap;
}
li {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 0.01em;
	color: #000;
	text-decoration: underline;
	list-style-type: circle;
}

.logo {
	margin: auto;
}

.contacts {
	margin: auto;
}

.contacts h2 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 135%;
	letter-spacing: 0.01em;
	color: #000;
	text-decoration: underline;
}

.contacts p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 135%;
	letter-spacing: 0.01em;
	color: #000;
}

.jamboton {
}

.jamboton div {
	width: 1100px;
	background-image: url('images/cover.jpg');
}

.jamboton h1 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 100px;
	line-height: 115%;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #fff;
}

.titleTextGap {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 100px;
	line-height: 115%;
	letter-spacing: 0.6em;
	text-transform: uppercase;
	color: #fff;
}

.jamboton p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 22px;
	line-height: 127%;
	text-transform: uppercase;
	color: #fff;
}

.jamboton button {
	text-align: right;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.lots {
}

.lots h2 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	color: #000;
}

.lot {
}

.lot h3 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 22px;
	line-height: 120%;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #fff;
}

.lot p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #fff;
}

.lot p a {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	color: #000;
}

.about {
}

.about img {
}

.about h4 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	color: #000;
}

.about p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #000;
}

footer {
}

.footerMenu {
}

.footerMenu ul,
.footerMenu li {
}

.socials {
}

.socials img {
}
